In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.ensemble import VotingClassifier
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import GaussianNB,MultinomialNB,ComplementNB,BernoulliNB

In [14]:
df = pd.read_csv('golf_df.csv')
df.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df = df.apply(le.fit_transform)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     int32
 1   Temperature  14 non-null     int32
 2   Humidity     14 non-null     int32
 3   Windy        14 non-null     int64
 4   Play         14 non-null     int32
dtypes: int32(4), int64(1)
memory usage: 464.0 bytes

   Outlook  Temperature  Humidity  Windy  Play
0        2            1         0      0     0
1        2            1         0      1     0
2        0            1         0      0     1
3        1            2         0      0     1
4        1            0         1      0     1

In [16]:
#seperating feature and target
x = df.drop('Play',axis = 1)
y = df['Play']

In [19]:
models = list()

gnb = Pipeline([('m',GaussianNB())])
models.append(('gnb',gnb))

mnb = Pipeline([('m', MultinomialNB())])
models.append(('mnb',mnb))

bnb = Pipeline([('m', BernoulliNB())])
models.append(('bnb',bnb))

cnb = Pipeline([('m',ComplementNB())])
models.append(('cnb',cnb))

ensemble = VotingClassifier(estimators = models, voting = 'hard')

In [20]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
ind_scores= []
en_scores = []
train_size = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
for j in train_size:
    xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size = j,random_state = 0)
    for model in models:
        model[-1].fit(xtrain,ytrain)
        ypred = model[-1].predict(xtest)
        score = accuracy_score(ytest,ypred)
        ind_scores.append(score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:489: RuntimeWarning: divide by zero encountered in log
  n_ij = -0.5 * np.sum(np.log(2.0 * np.pi * self.var_[i, :]))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:490: RuntimeWarning: divide by zero encountered in true_divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:490: RuntimeWarning: invalid value encountered in true_divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:490: RuntimeWarning: invalid value encountered in subtract
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)

In [21]:
for j in train_size:
    xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size = j,random_state = 0)
    ensemble.fit(xtrain,ytrain)
    ypred = ensemble.predict(xtest)
    s = accuracy_score(ytest,ypred)
    en_scores.append(s)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:489: RuntimeWarning: divide by zero encountered in log
  n_ij = -0.5 * np.sum(np.log(2.0 * np.pi * self.var_[i, :]))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:490: RuntimeWarning: divide by zero encountered in true_divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:490: RuntimeWarning: invalid value encountered in true_divide
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:490: RuntimeWarning: invalid value encountered in subtract
  n_ij -= 0.5 * np.sum(((X - self.theta_[i, :]) ** 2) / (self.var_[i, :]), 1)

In [22]:
ind_scores

[0.6153846153846154,
 0.6153846153846154,
 0.6153846153846154,
 0.6153846153846154,
 0.5,
 0.5833333333333334,
 0.5,
 0.5833333333333334,
 0.6,
 0.4,
 0.5,
 0.4,
 0.4444444444444444,
 0.6666666666666666,
 0.3333333333333333,
 0.4444444444444444,
 0.5714285714285714,
 0.7142857142857143,
 0.7142857142857143,
 0.8571428571428571,
 0.5,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.4,
 0.6,
 0.8,
 0.8,
 0.3333333333333333,
 0.6666666666666666,
 0.3333333333333333,
 0.6666666666666666,
 1.0,
 1.0,
 1.0,
 0.5]

In [23]:
en_scores

[0.6153846153846154,
 0.5,
 0.5,
 0.4444444444444444,
 0.7142857142857143,
 0.8333333333333334,
 0.6,
 0.3333333333333333,
 1.0]

In [28]:
t_size = [0.1,0.1,0.1,0.1,0.1,0.2,0.2,0.2,0.2,0.2,0.3,0.3,0.3,0.3,0.3,0.4,0.4,0.4,0.4,0.4,0.5,0.5,0.5,0.5,0.5,0.6,0.6,0.6,0.6,0.6
          ,0.7,0.7,0.7,0.7,0.7,0.8,0.8,0.8,0.8,0.8,0.9,0.9,0.9,0.9,0.9]
clf =[
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble',
      'gnb','mnb','bnb','cnb','ensemble'
     ]
s = []
index = 4
i=0
for j in en_scores:
    while(i<index):
        s.append(ind_scores[i])
        i+=1
    
    s.append(j)
    i = index
    index +=4

In [29]:
overall_scores = {
    't_split' : t_size,
    'classifierType' : clf,
    'Scores' : s
}

In [31]:
x = pd.DataFrame(overall_scores)
x.to_csv('C:/Users/dsca/210968010/Week 09/Golf_ensemble.csv')
x

    t_split classifierType    Scores
0       0.1            gnb  0.615385
1       0.1            mnb  0.615385
2       0.1            bnb  0.615385
3       0.1            cnb  0.615385
4       0.1       ensemble  0.615385
5       0.2            gnb  0.500000
6       0.2            mnb  0.583333
7       0.2            bnb  0.500000
8       0.2            cnb  0.583333
9       0.2       ensemble  0.500000
10      0.3            gnb  0.600000
11      0.3            mnb  0.400000
12      0.3            bnb  0.500000
13      0.3            cnb  0.400000
14      0.3       ensemble  0.500000
15      0.4            gnb  0.444444
16      0.4            mnb  0.666667
17      0.4            bnb  0.333333
18      0.4            cnb  0.444444
19      0.4       ensemble  0.444444
20      0.5            gnb  0.571429
21      0.5            mnb  0.714286
22      0.5            bnb  0.714286
23      0.5            cnb  0.857143
24      0.5       ensemble  0.714286
25      0.6            gnb  0.500000
26      0.6            mnb  0.833333
27      0.6            bnb  0.833333
28      0.6            cnb  0.833333
29      0.6       ensemble  0.833333
30      0.7            gnb  0.400000
31      0.7            mnb  0.600000
32      0.7            bnb  0.800000
33      0.7            cnb  0.800000
34      0.7       ensemble  0.600000
35      0.8            gnb  0.333333
36      0.8            mnb  0.666667
37      0.8            bnb  0.333333
38      0.8            cnb  0.666667
39      0.8       ensemble  0.333333
40      0.9            gnb  1.000000
41      0.9            mnb  1.000000
42      0.9            bnb  1.000000
43      0.9            cnb  0.500000
44      0.9       ensemble  1.000000